{{- $page := .page -}}
{{- $image := "" -}}
{{- with findRE `!\[[^\]]*]\(([^)]+)\)` $page.RawContent 1 -}}
  {{- $image = replaceRE `!\[[^\]]*]\(([^)]+)\)` `$1` (index . 0) -}}
{{- end -}}
{{- $excerpt := $page.RawContent | replaceRE `!\[[^\]]*]\(([^)]+)\)` "" -}}
{{- $excerpt = $page.RenderString $excerpt -}}

<article class="journal-entry-preview">
  <header class="journal-entry-header">
    <h2 class="journal-entry-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h2>
    <p class="journal-entry-meta">{{ $page.Date.Format "02/01/2006" }}</p>
  </header>

  {{- with $page.Params.summary }}
    <p class="journal-entry-summary">{{ . }}</p>
  {{- end }}
  <div class="journal-entry-preview-content{{ if $image }} journal-entry-preview-content--with-image{{ end }}">
    {{- with $image }}
      <div class="journal-entry-media">
        <img class="journal-entry-image" src="{{ . }}" alt="">
      </div>
    {{- end }}
    <div class="journal-entry-excerpt">{{ $excerpt }}</div>
  </div>
</article>
