{{- $entries := slice -}}
{{- $allCategories := slice -}}
{{- $renderWhenEmpty := false -}}

{{- if reflect.IsMap . -}}
  {{- with index . "entries" -}}
    {{- $entries = . -}}
  {{- end -}}
  {{- with index . "terms" -}}
    {{- $allCategories = . -}}
  {{- end -}}
  {{- with index . "renderWhenEmpty" -}}
    {{- $renderWhenEmpty = . -}}
  {{- end -}}
{{- else -}}
  {{- $entries = . | default (slice) -}}
{{- end -}}

{{- if eq (len $allCategories) 0 -}}
  {{- range $entries -}}
    {{- range (.Params.categories | default (slice)) -}}
      {{- $allCategories = $allCategories | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $allCategories = sort (uniq $allCategories) -}}

{{- $categoriesBase := "journal/categories" -}}
{{- if eq site.Language.Lang "es" -}}
  {{- $categoriesBase = "bitacora/categories" -}}
{{- end -}}

{{- if or (gt (len $allCategories) 0) $renderWhenEmpty -}}
  <p class="books-tags">
    {{- range $allCategories -}}
      {{- $term := printf "%v" . -}}
      {{- $label := partial "journal/tag-label.html" $term -}}
      <a class="books-tag" href="{{ relLangURL (printf "%s/%s/" $categoriesBase (urlize $term)) }}">#{{ $label }}</a>
    {{- end -}}
  </p>
{{- end -}}
