{{- $page := .page -}}
{{- $showExcerpt := .showExcerpt | default false -}}

<article class="journal-entry-preview">
  <header class="journal-entry-header">
    <h2 class="journal-entry-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h2>
    <p class="journal-entry-meta">{{ $page.Date.Format "02/01/2006" }}</p>
  </header>

  {{- if $showExcerpt -}}
    {{- with $page.Params.summary }}
      <p class="journal-entry-summary">{{ . }}</p>
    {{- end }}
    <p class="journal-entry-excerpt">{{ $page.Plain }}</p>
 
  {{- end -}}
</article>
