{{- $books := slice -}}
{{- $allTags := slice -}}
{{- $renderWhenEmpty := false -}}

{{- if reflect.IsMap . -}}
  {{- with index . "books" -}}
    {{- $books = . -}}
  {{- end -}}
  {{- with index . "terms" -}}
    {{- $allTags = . -}}
  {{- end -}}
  {{- with index . "renderWhenEmpty" -}}
    {{- $renderWhenEmpty = . -}}
  {{- end -}}
{{- else -}}
  {{- $books = . | default (slice) -}}
{{- end -}}

{{- $tagsBase := "books/tags" -}}
{{- if eq site.Language.Lang "es" -}}
  {{- $tagsBase = "libros/tags" -}}
{{- end -}}

{{- partial "taxonomy/render-tags.html" (dict
  "items" $books
  "terms" $allTags
  "renderWhenEmpty" $renderWhenEmpty
  "tagsBase" $tagsBase
  "labelPartial" "books/subcategory-label.html"
) -}}
