{{- $books := slice -}}
{{- $allTags := slice -}}
{{- $showTitle := true -}}
{{- $renderWhenEmpty := false -}}

{{- if reflect.IsMap . -}}
  {{- with index . "books" -}}
    {{- $books = . -}}
  {{- end -}}
  {{- with index . "terms" -}}
    {{- $allTags = . -}}
  {{- end -}}
  {{- with index . "showTitle" -}}
    {{- $showTitle = . -}}
  {{- end -}}
  {{- with index . "renderWhenEmpty" -}}
    {{- $renderWhenEmpty = . -}}
  {{- end -}}
{{- else -}}
  {{- $books = . | default (slice) -}}
{{- end -}}

{{- $tagsBase := "books/tags" -}}
{{- if eq site.Language.Lang "es" -}}
  {{- $tagsBase = "libros/tags" -}}
{{- end -}}

{{- if eq (len $allTags) 0 -}}
  {{- range $books -}}
    {{- range .subcategories -}}
      {{- $allTags = $allTags | append . -}}
    {{- end -}}
  {{- end -}}
  {{- $allTags = sort (uniq $allTags) -}}
{{- end -}}

{{- if or (gt (len $allTags) 0) $renderWhenEmpty -}}
  <p class="books-tags">
    {{- range $allTags -}}
      {{- $term := . -}}
      {{- $label := partial "books/subcategory-label.html" $term -}}
      <a class="books-tag" href="{{ relLangURL (printf "%s/%s/" $tagsBase (urlize $term)) }}">#{{ $label }}</a>
    {{- end -}}
  </p>
{{- end -}}
