{{ define "main" }}
  {{- $allBooks := .Site.Data.books.books | default (slice) -}}
  {{- $termRaw := "" -}}
  {{- with .Data.Term -}}
    {{- $termRaw = printf "%v" . -}}
  {{- end -}}
  {{- $termSlug := urlize $termRaw -}}
  {{- if eq $termSlug "" -}}
    {{- $pathParts := split (trim .RelPermalink "/") "/" -}}
    {{- if gt (len $pathParts) 0 -}}
      {{- $termSlug = index $pathParts (sub (len $pathParts) 1) -}}
    {{- end -}}
  {{- end -}}
  {{- $labelSource := $termRaw | default $termSlug -}}
  {{- $termLabel := partial "books/subcategory-label.html" $labelSource -}}
  {{- $filteredBooks := slice -}}

  {{- range $allBooks -}}
    {{- $matches := false -}}
    {{- range .subcategories -}}
      {{- if eq (urlize .) $termSlug -}}
        {{- $matches = true -}}
      {{- end -}}
    {{- end -}}
    {{- if $matches -}}
      {{- $filteredBooks = $filteredBooks | append . -}}
    {{- end -}}
  {{- end -}}

  <p>{{ i18n "books_tag_page_title" }} <strong>{{ $termLabel }}</strong>.</p>

  {{- if eq (len $filteredBooks) 0 -}}
    <p>{{ i18n "books_empty_tag" }}</p>
  {{- else -}}
    {{- $preferred := slice "N" "T" "E" "P" -}}
    {{- $orderedCategories := slice -}}

    {{- range $preferred -}}
      {{- if gt (len (where $filteredBooks "category_key" .)) 0 -}}
        {{- $orderedCategories = $orderedCategories | append . -}}
      {{- end -}}
    {{- end -}}

    {{- $extras := slice -}}
    {{- range $filteredBooks -}}
      {{- if not (in $preferred .category_key) -}}
        {{- $extras = $extras | append .category_key -}}
      {{- end -}}
    {{- end -}}

    {{- range (sort (uniq $extras)) -}}
      {{- $orderedCategories = $orderedCategories | append . -}}
    {{- end -}}

    {{ partial "books/render-categories.html" (dict "books" $filteredBooks "categories" $orderedCategories) }}
  {{- end -}}
  {{ partial "books/render-tags.html" $allBooks }}
{{ end }}
