{{ define "main" }}
  {{- $entries := partial "journal/get-entries.html" . -}}
  {{- $termRaw := printf "%v" (.Data.Term | default "") -}}
  {{- $termSlug := urlize $termRaw -}}
  {{- $termLabel := partial "journal/tag-label.html" $termRaw -}}
  {{- $filteredEntries := slice -}}

  {{- range $entries -}}
    {{- $entry := . -}}
    {{- $matches := false -}}

    {{- range ($entry.Params.tags | default (slice)) -}}
      {{- if eq (urlize (printf "%v" .)) $termSlug -}}
        {{- $matches = true -}}
      {{- end -}}
    {{- end -}}

    {{- if $matches -}}
      {{- $filteredEntries = $filteredEntries | append $entry -}}
    {{- end -}}
  {{- end -}}

  <p>{{ i18n "journal_tag_page_title" }} <strong>{{ $termLabel }}</strong>.</p>

  {{- if eq (len $filteredEntries) 0 -}}
    <p>{{ i18n "journal_empty_tag" }}</p>
  {{- else -}}
    <div class="journal-list">
      {{- range $filteredEntries -}}
        {{ partial "journal/render-entry-preview.html" (dict "page" .) }}
      {{- end -}}
    </div>
  {{- end -}}

  <h4 class="filter-books">{{ i18n "journal_all_tags_title" }}</h4>
  {{ partial "journal/render-tags.html" $entries }}
{{ end }}
