{{- $books := .Site.Data.books.books | default (slice) -}}

{{- if eq (len $books) 0 -}}
  <p>{{ i18n "books_empty_all" }}</p>
{{- else -}}
  {{- $datedBooks := where $books "year" "ne" nil -}}
  {{- $years := slice -}}
  {{- range $datedBooks -}}
    {{- $years = $years | append .year -}}
  {{- end -}}
  {{- $years = sort (uniq $years) "value" "desc" -}}
  {{- $hasTaggedBooks := false -}}

  {{- range $years -}}
    {{- $year := . -}}
    {{- $yearBooks := where $datedBooks "year" $year -}}
    {{- if gt (len $yearBooks) 0 -}}
      {{- $hasTaggedBooks = true -}}
      <h2 class="books-year">{{ $year }}</h2>
      <div class="section-grid">
        <div class="section-left">
          {{ partial "books/render-categories.html" (dict "books" $yearBooks "categories" (slice "N" "T")) }}
        </div>
        <div class="section-right">
          {{ partial "books/render-categories.html" (dict "books" $yearBooks "categories" (slice "E" "P")) }}
        </div>
      </div>
    {{- end -}}
  {{- end -}}

  {{- if not $hasTaggedBooks -}}
    <p>{{ i18n "books_all_with_tab_empty" }}</p>
  {{- else -}}
    <h4 class="filter-books">{{ i18n "books_all_tags_title" }}</h4>
    {{ partial "books/render-tags.html" $datedBooks }}
  {{- end -}}
{{- end -}}
