{{- $books := .Site.Data.books.books | default (slice) -}}

{{- if eq (len $books) 0 -}}
  <p>{{ i18n "books_empty_all" }}</p>
{{- else -}}
  {{- $datedBooks := where $books "year" "ne" nil -}}
  {{- $taggedBooks := slice -}}
  {{- range $datedBooks -}}
    {{- $book := . -}}
    {{- with $book.subcategories -}}
      {{- if gt (len .) 0 -}}
        {{- $taggedBooks = $taggedBooks | append $book -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $hasTaggedBooks := gt (len $taggedBooks) 0 -}}

  {{- $years := slice -}}
  {{- range $datedBooks -}}
    {{- $years = $years | append .year -}}
  {{- end -}}
  {{- $years = sort (uniq $years) "value" "desc" -}}

  {{- range $years -}}
    {{- $year := . -}}
    {{- $yearBooks := where $datedBooks "year" $year -}}
    {{- if gt (len $yearBooks) 0 -}}
      <h2 class="books-year">{{ $year }}</h2>
      <div class="section-grid books-grid">
        <div class="section-left">
          {{ partial "books/render-categories.html" (dict "books" $yearBooks "categories" (slice "N" "T")) }}
        </div>
        <div class="section-right">
          {{ partial "books/render-categories.html" (dict "books" $yearBooks "categories" (slice "E" "P")) }}
        </div>
      </div>
    {{- end -}}
  {{- end -}}

  {{- if $hasTaggedBooks -}}
    <h4 class="filter-books">{{ i18n "books_all_tags_title" }}</h4>
    {{ partial "books/render-tags.html" $taggedBooks }}
  {{- end -}}
{{- end -}}
