{{- $entries := partial "journal/get-entries.html" .Page -}}
{{- $archivePage := .Page.Site.GetPage "journal_entries/archive" -}}

<section class="journal-section">

  {{ if gt (len $entries) 0 }}
  <div class="journal-list">
    {{ range first 5 $entries }}
    {{ partial "journal/render-entry-preview.html" (dict "page" .) }}
    {{ end }}
  </div>
  {{ else }}
  <p>{{ i18n "journal_empty" }}</p>
  {{ end }}
  <br>
  <div class="journal-archive-section">
    {{- with $archivePage }}
    <a class="journal-archive-link" href="{{ .RelPermalink }}">{{ i18n "journal_archive_link" }}</a>
    {{- end }}
  </div>
</section>
