{{- $movies := .Site.Data.movies.movies | default (slice) -}}

{{- if eq (len $movies) 0 -}}
  <p>{{ i18n "movies_empty_all" }}</p>
{{- else -}}
  {{- $taggedMovies := slice -}}
  {{- range $movies -}}
    {{- $movie := . -}}
    {{- with $movie.subcategories -}}
      {{- if gt (len .) 0 -}}
        {{- $taggedMovies = $taggedMovies | append $movie -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $hasTaggedMovies := gt (len $taggedMovies) 0 -}}

  {{ partial "movies/render-grid.html" $movies }}

  {{- if not $hasTaggedMovies -}}
    <p>{{ i18n "movies_all_with_tab_empty" }}</p>
  {{- else -}}
    <h4 class="filter-movies">{{ i18n "movies_all_tags_title" }}</h4>
    {{ partial "movies/render-tags.html" $taggedMovies }}
  {{- end -}}
{{- end -}}
