{{- $movies := slice -}}
{{- $allTags := slice -}}
{{- $renderWhenEmpty := false -}}

{{- if reflect.IsMap . -}}
  {{- with index . "movies" -}}
    {{- $movies = . -}}
  {{- end -}}
  {{- with index . "terms" -}}
    {{- $allTags = . -}}
  {{- end -}}
  {{- with index . "renderWhenEmpty" -}}
    {{- $renderWhenEmpty = . -}}
  {{- end -}}
{{- else -}}
  {{- $movies = . | default (slice) -}}
{{- end -}}

{{- $tagsBase := "movies/tags" -}}
{{- if eq site.Language.Lang "es" -}}
  {{- $tagsBase = "peliculas/tags" -}}
{{- end -}}

{{- $fallbackTerms := slice -}}
{{- range (site.Data.movies.subcategories | default (slice)) -}}
  {{- with .slug -}}
    {{- $fallbackTerms = $fallbackTerms | append . -}}
  {{- end -}}
{{- end -}}

{{- partial "taxonomy/render-tags.html" (dict
  "items" $movies
  "terms" $allTags
  "renderWhenEmpty" $renderWhenEmpty
  "tagsBase" $tagsBase
  "labelPartial" "movies/subcategory-label.html"
  "fallbackTermsFromData" $fallbackTerms
) -}}
