{{- $movies := . | default (slice) -}}
{{- $sortedMovies := sort $movies "year" "desc" -}}

<div class="movies-grid">
  {{- range $sortedMovies -}}
    {{- $title := .title | default "" -}}
    {{- $author := .author | default .director | default "" -}}
    {{- $image := .image | default "" -}}
    <article class="movie-card">
      <div class="movie-poster-wrap">
        {{- if ne $image "" -}}
          <img
            class="movie-poster"
            src="{{ relURL (printf "movies/photos/%s" $image) }}"
            alt="{{ $title }}"
            loading="lazy"
          />
        {{- else -}}
          <div class="movie-poster movie-poster-placeholder" aria-hidden="true"></div>
        {{- end -}}
      </div>
      <h3 class="movie-title">{{ $title }}</h3>
      {{- if ne $author "" -}}
        <p class="movie-author">{{ i18n "movies_author_label" }}: <strong>{{ $author }}</strong></p>
      {{- end -}}
      {{- with .cast -}}
        {{- if gt (len .) 0 -}}
          <p class="movie-cast">{{ i18n "movies_cast_label" }}: <strong>{{ delimit . ", " }}</strong></p>
        {{- end -}}
      {{- end -}}
    </article>
  {{- end -}}
</div>
